config.py
*.pyc
__pycache__/
.DS_Store
.log
# figma_to_jira.log
# figma_screens/
# create_final_tests/artifacts/tests_from_figma_runid_*.txt
# send_final_tests.log
.idea/codeStyles/codeStyleConfig.xml
create_final_tests/artifacts/tests_from_figma_runid_*.*
figma_screens
repomix-output.xml
.idea/dictionaries/project.xml
*.log
create_final_tests/folder_structure/file_structure.md
